<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crea_CaSdkComercial.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Crea_CaSdkComercial.Settings>
      <setting name="IntervalSeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RutaSistema" serializeAs="String">
        <value>C:\Program Files (x86)\Compac\COMERCIAL</value>
      </setting>
      <setting name="RutaEmpresas" serializeAs="String">
        <value>C:\Compac\Empresas\</value>
      </setting>
      <setting name="NombreSistema" serializeAs="String">
        <value>CONTPAQ I COMERCIAL</value>
      </setting>
      <setting name="Empresas" serializeAs="String">
        <value>adSDKDemo</value>
      </setting>
      <setting name="AplicacionId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EnviarEmail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordLlavePrivada" serializeAs="String">
        <value>S3y0$sd1@.18</value>
      </setting>
      <setting name="UsuarioContpaq" serializeAs="String">
        <value>Supervisor</value>
      </setting>
      <setting name="LogEjecucion" serializeAs="String">
        <value>C:\Crea_4\Crea_CaSdk_Comercial\Log</value>
      </setting>
      <setting name="CuerpoCorreo" serializeAs="String">
        <value>Entrega Documento Pago</value>
      </setting>
      <setting name="PathLayoutRecurrente" serializeAs="String">
        <value>C:\Crea_4\Crea_CaSdk_Comercial\Layout\Layout_SDK_REP.xlsx</value>
      </setting>
      <setting name="ReplyTo" serializeAs="String">
        <value>pem@bideli.mx</value>
      </setting>
      <setting name="NameReplyTo" serializeAs="String">
        <value>Pedro Escobas</value>
      </setting>
      <setting name="PathArchivos" serializeAs="String">
        <value>C:\Compac\Empresas\#BASEDATOS#\XML_SDK\</value>
      </setting>
      <setting name="PasswordContpaq" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionStringContpaq" serializeAs="String">
        <value>Database=#BASEDATOS#;Server=10.10.15.60\crea;Integrated Security=False;User ID=sa;Password=crea4.0#17</value>
      </setting>
      <setting name="SenderName" serializeAs="String">
        <value>Crea 4.0</value>
      </setting>
      <setting name="SenderEmail" serializeAs="String">
        <value>facturacion@buzon-cfdi.mx</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Database=crea_Sdk;Server=10.73.10.20\crea;Integrated Security=False;User ID=sa;Password=crea4.0#17</value>
      </setting>
    </Crea_CaSdkComercial.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
